*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}
.twit{
    width: 100%;
    height: 100vh;

}
.small1{
    width: 30px;
    padding-top: 5vh;
}   
.happen{
    font-weight: 20vh;
    font-size: 12vh;    
}
.do{
    padding-left: 10%;
}
.join{
    padding-top: 5vh;
    font-size: 7vh;
    padding-bottom: 3vh;
}
.SignG{
    width: 60%;
    height: 8vh;
    border-radius: 5em;
    background-color: white;
    border: 0.5px solid black;
    margin-top: 1%;
}
.SignG2{
    width: 60%;
    height: 8vh;
    border-radius: 5em;
    background-color: white;
    border: 0.5px solid black;
    margin-top: 1%;
    margin-bottom: 2vh;
}
.SignA{
    width: 60%;
    height: 8vh;
    background: dodgerblue;
    border-radius: 5em;
    color: white;
    margin-top: 1%;
    border: 0;
}
.email{
    font-size: 3vh;
    font-weight: bolder;
}
.apple{
    font-size: 3vh;
    font-weight: bolder;
}
.or{
    margin-left: 8%;
}
.last{
    margin-top: 5%;
}
.already{
    width: 55%;
    height: 6vh;
    border-radius: 5em;
    color:dodgerblue;  
    border: 0; 
}
.imgg1{
    width: 2vw;
    padding-top: 3px;
}
.apple1{
    width: 2vw;
    height: 4vh;
    padding-bottom: 1px;
    padding-right: 3px;
}
a{
    color: dodgerblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.SignG:hover{
    background-color: rgb(116, 188, 219);
}

.SignG2:hover{
    background-color: rgb(216, 214, 214);
}
.SignA:hover{
    background-color: rgb(91, 185, 223);
}
.already:hover{
    background-color: rgb(135, 228, 235);
}


@media(max-width: 650px){
    
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "col2"
        "col1"
        ;
    }
    .col1{
        grid-area: col1;
    }
    .do{
        grid-area: col2;
    }
    .twit{
        width: 100%;
        height: 60vh;
        margin-top: 2%;
    }
}